html {
    background-color: grey;
}

#content {
    background-color: blue;
    width: 95vw;
    height: fit-content;
    margin: auto;
    margin-top: 15px;
    border-radius: 4px;
}

.labelContainer {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    flex: 0 0 100%;
}

#navContainer {
    background-color: aqua;
    border: 2px solid orange;
    width: 98vw;
    margin: auto;
    height: 5vh;
    border-radius: 4px;
}

.flexContainerNav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid red;
    height: 100%;
}
/* 
.flexContainerNavItem {
    align-self: flex-end;
} */

#navLogoContainer {
    margin-right: auto;
}

.flexContainerMain {
    display: flex;
    /* align-self: flex-end;
    justify-content: flex-end; */
    flex-wrap: wrap;
    border: 1px solid red;
    /* height: 100%; */
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23vw;
    height: fit-content;
    margin: 25px;
    background-color: bisque;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.infoContainer {
    padding: 2px 8px;
    margin: 2px 16px;
    /* text-align: center; */
    line-height: 1.4;
}

.cardTitle {
    border-bottom: solid 1px black;
}


/* Edit Todo Form Styling */
.todoContainer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;  
    margin-top: 25%;
    background-color: aqua;
    border: 2px solid green;  
    width: 50%;
    padding: 25px;

    /* font-size: 1em;
    padding: 0.5em;
    border-radius: 1em;
    font-family: sans-serif; */
}

/* label, input, button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em; */
    /* the following ensures they're all using the same box-model for rendering */
    /*-moz-box-sizing: content-box;*/ /* or `border-box` */
    /* -webkit-box-sizing: content-box;
    box-sizing: content-box;
} */


.formItem {
    flex: 1 0 100%;
}

.formItem > h1 {
    text-align: center;
}

/* .listItem > button {
    height: 26px;
    width: 20px;
    padding: 0;
    margin: 1.9px 0 0 -5px;

} */

.listItem > input {
    width: 187px;
}

label {
    display: inline-block;
    width: 110px;
}

input {
    display: inline-block;
    width: 210px;
    height: 25px;
    padding: 0;
}

/* #btnAddEditedTodo {
    margin-left: auto;
    margin-right: 30px;
} */